[submodule "OCTIS"]
	path = OCTIS
	url = https://github.com/eric-filson/OCTIS
[submodule "gensim"]
	path = gensim
	url = https://github.com/eric-filson/gensim
[submodule "pyLDAvis"]
	path = pyLDAvis
	url = https://github.com/eric-filson/pyLDAvis
[submodule "tomotopy"]
	path = tomotopy
	url = https://github.com/eric-filson/tomotopy
